<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sudokusolver">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.SudokuSolver">
        <activity android:name=".Instructions2"></activity>
        <activity android:name=".Settings" />
        <activity android:name=".AboutUs" />
        <activity android:name=".Instructions" />
        <activity android:name=".MainActivity" />
        <activity android:name=".FinishSplash" />
        <activity android:name=".buffer2" />
        <activity android:name=".buffer" />
        <activity android:name=".S3" />
        <activity android:name=".S4beta" />
        <activity android:name=".S4" />
        <activity android:name=".S5" />
        <activity android:name=".StartSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>